* {
    font-family: "open-sans", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    max-width: 1440px;
}

.container {
    margin: 0 170px;
}

.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
}

.logo {
    width: 170px;
    display: flex;
    align-items: center;
}


/* LOGO HOVER HOLATI */
.logo:hover {
    color: #DE2E54;
}

/* LOGO ACTIVE HOLATI */
.logo:active {
    opacity: 0.6;
}

.logo span {
    margin-left: 16px;
    font-size: 24px;
    font-weight: bold;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

.navbar li .item {
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 32px;
    color: #222222;
    font-weight: bold;
}

/* NAVBAR HOVER */
.navbar li .item:hover {
    color: #DE2E54;
}
/* NAVBAR ACIIVE */
.navbar li .item:active {
    opacity: 0.6;
}

.button .site-header-btn {
    padding: 12px 24px;
    border: 2px solid #DE2E54;
    outline: none;
    border-radius: 8px;
    background-color: #DE2E54;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

/* HOVER HOLATI */
.button .site-header-btn:hover {
    color:#DE2E54;
    background-color: transparent;
    border-color: #DE2E54;
}

/* ACTIVE HOLATI */
.button .site-header-btn:active {
    color: #fff;
    background-color: #DE2E54;
    opacity: 0.6;
}

.hero {
    background: #0EB4C1;
}

.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-content h1 {
    color: #fff;
    font-family: "Open-Sans", sans-serif;
}

.hero-content p {
    width: 400px;
    font-weight: 500;
    color: #fff;
}

.hero-btn {
    padding: 12px 24px;
    border: 2px solid #DE2E54;
    outline: none;
    border-radius: 8px;
    background-color: #DE2E54;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    margin-top: 36px;
}

.hero-section .hero-img {
    margin-top: 29px;
}