@font-face {
    font-family: "Open Sans Condensed"; 
    src: url("../webfonts/OpenSansCondensed-Bold.ttf") format("truetype"); 
    font-style: normal;  
} 
    
* {
    font-family: "Open Sans Condensed", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    max-width: 1440px;
}

.container {
    margin: 0 170px;
}

.btn-regstration {
    padding: 12px 24px;
    border: 2px solid #DE2E54;
    outline: none;
    border-radius: 8px;
    background-color: #DE2E54;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
}

/* HOVER HOLATI */
.btn-regstration:hover {
    color:#DE2E54;
    background-color: transparent;
    border-color: #DE2E54;
}

/* ACTIVE HOLATI */
.btn-regstration:active {
    color: #fff;
    background-color: #DE2E54;
    opacity: 0.6;
}

.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
}

.logo {
    width: 170px;
    display: flex;
    align-items: center;
}


/* LOGO HOVER HOLATI */
.logo:hover {
    color: #DE2E54;
}

/* LOGO ACTIVE HOLATI */
.logo:active {
    opacity: 0.6;
}

.logo span {
    margin-left: 16px;
    font-size: 24px;
    font-weight: bold;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

.navbar li .item {
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 32px;
    color: #222222;
    font-weight: bold;
}

/* NAVBAR HOVER */
.navbar li .item:hover {
    color: #DE2E54;
}
/* NAVBAR ACIIVE */
.navbar li .item:active {
    opacity: 0.6;
}

.hero {
    background: #0EB4C1;
}

.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-content h1 {
    color: #fff;
    font-family: "Open Sans Condensed", sans-serif;
}

.hero-content p {
    width: 400px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    color: #fff;
    margin-bottom: 36px;
}

.hero-section .hero-img {
    margin-top: 29px;
}
.services .services-heading {
    text-align: center;
    font-weight: bold;
    margin-top: 120px;
}

.services .services-group {
    padding: 56px 50px;
    margin: 0 50px;
    display: flex;
    flex-direction: column;
}

.services .services-group .item {
    width: 800px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 80px;
}

.services-group .item h2 {
   font-family: "Open Sans Condensad", sans-serif;
}

.services-group .item .frame {
    margin-left: 64px;
}

.services-group .item .frame p {
    width: 500px;
    margin-top: 24px;
    font-family: "open sans", sans-serif;
    font-weight: 400;
    margin-right: 50px;
}

.item .item-img img {
    width: 200px;
    height: 200px;
    border-radius: 24px;
    box-shadow: 0px 12px 24px -8px rgba(0, 107, 116, 0.3);
}

.btn-new {
    text-align: center;
    margin-top: 60px;
}

.cta {
    background-color: #0EB4C1;
    padding: 0 326px;
}

.cta .regstration h1 {
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: 700;
    color: #fff;
    padding-top: 64px;
    text-align: center;
}

.cta .btn-group {
    width: 360px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    font-family: "Open Sans Condensed", sans-serif;
    padding-bottom: 64px;
}

.btn-group .call-btn {
    padding: 12px 24px;
    border-radius: 8px;
    border: 2px solid #fff;
    background: transparent;
    outline: none;
    color: #fff;
    font-family: "Open Sans Condensed", sans-serif;
    transition: 0.5s;
    cursor: pointer;
}

/* HOVER HOLATI */
.btn-group .call-btn:hover {
    background-color: #DE2E54;
    border: 2px solid #DE2E54;
}

/* ACTIVE HOLATI */
.btn-group .call-btn:active {
    background-color: #DE2E54;
    border: 2px solid #DE2E54;
    opacity: 0.8;
}

.btn-group .send-btn {
    padding: 12px 24px;
    border-radius: 8px;
    border: 2px solid #fff;
    background: transparent;
    outline: none;
    color: #fff;
    transition: 0.5s;
    cursor: pointer;
}

/* HOVER HOLATI */
.btn-group .send-btn:hover {
    background-color: #DE2E54;
    border: 2px solid #DE2E54;
}


/* ACTIVE HOLATI */
.btn-group .send-btn:active {
    background-color: #DE2E54;
    border: 2px solid #DE2E54;
    opacity: 0.8;
}

.footer {
    background-color: #000;
    padding-bottom: 24px;
}

.footer-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-group .logo-footer {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    font-family: Open-Sans;
    font-size: 24px;
}

.footer-group .logo-footer:active {
    opacity: 0.6;
}

.footer-group .logo-footer span:hover {
    color: #DE2E54;
}

.footer-group .logo-footer span {
    color: #fff;
    margin-left: 16px;
}

.sitefooter .navbar {
    margin-top: 22px;
}

.sitefooter .navbar .item {
    color: #fff;
    font-family: "Open Sans Condensed", sans-serif;
}

/* HOVER HOLATI */
.sitefooter .navbar .item:hover {
    color: #DE2E54;
}

.sitefooter .navbar .item:active {
    color: #fff;
    opacity: 0.6;
}